[submodule "src/libs/wwBase"]
	path = src/libs/wwBase
	url = ../wwBase.git
[submodule "src/libs/wwDevice"]
	path = src/libs/wwDevice
	url = ../wwDevice.git
[submodule "src/libs/wwTalk"]
	path = src/libs/wwTalk
	url = ../wwTalk.git
[submodule "src/libs/wwCmake"]
	path = src/libs/wwCmake
	url = https://www.github.com/windwolf/wwCmake.git
[submodule "src/libs/wwControl"]
	path = src/libs/wwControl
	url = ../wwControl.git
